nav {
  display: flex;
  justify-content: space-between;
  background-color: #333;
  color: #fff;
  padding: 0.5em 0em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav p.title {
  color: #fff;
  font-size: larger;
  font-weight: bolder;
  margin-left: 20%;
  white-space: nowrap;
}

nav a {
  color: #fff;
  font-size: large;
  text-decoration: none;
  padding: 0.9em 1.3em;
  margin: 0 0.95em;
  border-radius: 4px;
  transition: transform 0.3s ease, filter 0.3s ease;
}

nav a:hover {
  color: #fffbfb;
  transform: scale(1.03);
  font-size: larger;
  font-weight: bold;
}

nav button {
  display: none;
}

@media screen and (max-width: 768px) {
  .nav-container {
    height: 40px;
    display: block;
    width: 100%;
  }
  .nav-container div p.title {
    position: absolute;
    top: 0px;
    left: -15%;
    white-space: nowrap;
    color: #fff;
  }

  nav div {
    margin-top: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .nav-container .nav-links {
    justify-content: left;
    width: 100%;
    padding: 0.9em;
    margin-top: 0%;
    padding-top: 3em;
  }
  .nav-container .nav-links a {
    display: none;
  }

  .nav-container a {
    color: #fff;
    font-size: large;
    text-decoration: none;
    padding: 0.9em 0.7em;
    margin: 0em;
    border-radius: 4px;
    width: 92%;
  }

  .nav-container a:hover {
    color: #fffbfb;
    transform: scale(1.03);
  }

  .nav-container.open {
    height: 250px;
  }
  .nav-links.open a {
    display: block;
  }

  .nav-container button {
    position: absolute;
    margin-left: 90%;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    padding: 0.375rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    color: #fff;
    background-color: rgba(0, 0, 0, 0);
    border: #fff;
    border-color: #fff;
    height: 32px;
    width: 40px;
  }

  .nav-container button:hover {
    color: #fff;
    background-color: rgba(0, 0, 0, 0);
    border: 2.5px solid transparent;
    border-color: #fff;
    transition: none;
  }
}
