body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f4f4f4;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 15%;
}

.about,
.about-title {
  background-color: #333;
  color: #fff;
  /* text-align: center; */
  padding: 20px 0;
}
.header-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

header h1 {
  margin: 0;
}

header p {
  margin: 5px 0;
}

section {
  margin: 40px 0;
}

h2 {
  color: #333;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: inline-block;
  margin-right: 10px;
}

.project {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
  padding: 20px;
  border-radius: 4px;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

section {
  padding: 20px;
}
.d-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.skill-image {
  height: 50px;
}

.project-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .d-grid {
    display: grid;
    grid-template-columns: 1fr;
  }

  .header-grid {
    display: grid;
    grid-template-columns: 1fr;
  }
}
