body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #000;
  color: #fff;
}

section {
  margin: 30px 0;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: inline-block;
  margin-right: 10px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

section {
  padding: 20px;
}
.d-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* The newly added styles */
section {
  padding: 50px 20px;
  text-align: center;
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
}

h1,
h2 {
  text-align: center;
  margin-bottom: 20px;
}

#about h1 {
  font-size: 3.5em;
  margin-bottom: 10px;
}

#about p {
  font-size: 1.2em;
  max-width: 800px;
  margin: 0 auto;
}

#skills .skills-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-items: center;
  max-width: 1000px;
  margin: 0 auto;
}

.skill {
  background: #333;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
  text-align: center;
  width: 90%;
}

.skill i {
  font-size: 2.6em;
  color: #f4b400;
  margin-bottom: 10px;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 1000px;
  margin: 0 auto;
}

.project img {
  height: 150px;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.project {
  background: #333;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
  text-align: center;
}

#contact ul.contact-inline {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 40px;
  padding: 0;
}

#contact ul li {
  font-size: 1.2em;
}

#contact ul li a {
  text-decoration: none;
  color: #f4b400;
}

#contact ul li i {
  margin-right: 10px;
}

.details {
  text-decoration: none;
  color: #f4b400;
}

@media screen and (max-width: 768px) {
  #skills .skills-container {
    display: grid;
    grid-template-columns: 1fr;
  }

  .projects-container {
    display: grid;
    grid-template-columns: 1fr;
  }
  #contact ul.contact-inline {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .project img {
    height: 150px;
    width: 75%;
    border-radius: 10px;
    margin-bottom: 10px;
  }
}
